*
{
  font-size: 2vw;
  padding: 0;
  margin: 0;
}
body
{
  background-image: url("images/Dark Forest Background.png");
  background-size: 100%;
  background-position-y: 20%;
}
td
{
  padding: .5%;
}
.italic
{
  font-style: italic;
}
#background-table tr{
  width: 100%;
}
#top-bar
{
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  position: fixed;
  background-color: #111;
  overflow: auto;
}
#top-bar div
{
  float: left;
  text-align: center;
  color: white;
}
#top-bar .top-center
{
  float: none;
}
#sidebar
{
  height: 85%;
  width: 13%;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 0;
  background: transparent;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar div
{
  width: 85%;
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 10% 5%;
  text-decoration: none;
}
#sidebar div:hover
{
  background-color: #888;
}
#back-button
{
  top: 1.5%;
  left: 1%;
  background-image: url("images/backbutton.png");
  padding: 1.5% 3%;
  background-size: 100% 100%;
  position: fixed;
  z-index: 1;
}
#next-button
{
  bottom: 1.5%;
  right: 1%;
  width: 10%;
  background-image: url("images/Next_button_blank.png");
  padding: 1.5% 3%;
  background-size: 100% 100%;
  position: fixed;
  z-index: 1;
}
#main
{
  position: fixed;
  top: 15%;
  width: 87%;
  height: 70%;
  left: 13%;
  overflow-y: hidden;
}
.species-image
{
  padding: 2%;
  width: 25%;
}
.hidden
{
  display: none;
}
#species-buttons
{
  display: none;
  position: absolute;
  top: 0;
  left: 28%;
  width: 60%;
  height: 20%;
}
#background-text
{
  color: white;
}
#starter-text
{
  padding: .5%;
  color: white;
}
#starter-text h1
{
  padding: 1%;
}
#starter-text p, #starter-text p i
{
  font-size: 1.4vw;
}
#starter-text ul
{
  padding: 3%;
}
#starter-text ul li, #starter-text ul li b
{
  font-size: 1.3vw;
}
.species-button
{
  min-width: 20%;
  display: inline-flex;
  background: #222;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1%;
}
#theme-text
{
  display: none;
  color: white;
}
#species-text
{
  display: none;
  color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 50%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: visible;
}
#species-text *, #theme-text *
{
  font-size: 1.5vw;
  padding: 1%;
}
.center
{
  text-align: center;
}
.full-width
{
  width: 100%;
}
.lrg-padding
{
  padding: 10% 20% 10% 20%;
}
.title
{
  padding: 2%;
}
.biggest-font
{
  font-size: 2.5vw;
}
.green
{
  color:#359668;
}
::-webkit-scrollbar-track
{
  background: none;
}
::-webkit-scrollbar
{
  background: none;
}
::-webkit-scrollbar-button:hover
{
  display: none;
}