*
{
  padding: 0%;
  margin: 0%;
}
#topbar
{
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  position: fixed;
  background-color: #222;
  overflow: auto;
}
#topbar div
{
  float: left;
  text-align: center;
  color: white;
}
#topbar div h2
{
  padding-top: 10px;
  margin: 1%;
}
#topbar .top-center
{
  float: none;
}
#sidebar
{
  height: 80%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  background-color: #222;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar div
{
  width: 90%;
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 15px;
  text-decoration: none;
}
#sidebar div:hover
{
  background-color: #888;
}
#main
{
  position: fixed;
  background-color: grey;
  top: 20%;
  width: 100%;
  height: 80%;
  left: 160px;
}
.center
{
  text-align: center;
}
.full-width
{
  width: 100%;
}
.green
{
  width: 160px;
  color:#009900;
}